@page "/transport"
@inject IChauffeurService ChauffeurService

<ul class="list-unstyled">
    @foreach (var user in ChauffeurService.Chauffeurs)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="/client/@user.Id">
                    <img class="media-img" src="@user.Image" alt="aaaaaaaaaaaa" />
                </a>
            </div>
            <div class="media-body">
                <a href="/client/@user.Id">
                    <h4 class="mb-0">@user.Nom</h4>
                </a>
                <p>@user.Description</p>
                <h5> @user.NumeroDeTelephone</h5>
                <h5> @user.DateDeNaissance</h5>
            </div>
        </li>
    }
</ul>
<p>------ teste-----------</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th style="text-align:center;">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ChauffeurService.Chauffeurs)
        {
            <tr>
                <td>@user.Nom</td>
                <td style="text-align:center;">@user.Description</td>
            </tr>
        }
    </tbody>
</table>


@code {

    protected override async Task OnInitializedAsync()
    {

        if (ChauffeurService.Chauffeurs == null || ChauffeurService.Chauffeurs.Count == 0)
        {
            await ChauffeurService.LoadChauffeurs();
        }

    }
}